/* frontend/src/pages/Login.css */

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.button {
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    /* Color verde para login */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}